header {
}

.header__wrapper {
  padding: 22px 0 14px 0;
  margin: 0 $small;
  height: 1.5625rem;
  display: flex;

  & > div:nth-child(2) {
    margin-right: auto;
  }
}

.header__logo {
  font-size: 1.25rem;
  letter-spacing: -0.0375rem;
  font-weight: 600;
  color: #3D3D3D;
  @extend .montserrat;
}

.header__navi a {
  visibility: hidden;
  padding: 0.25rem 0 0.25rem 1.75rem;
}


.header__lang {

  .header__lang-en {
    padding: 0.15rem 0.25rem;
    border-right: $black 2px solid;
    margin-left: 1rem;
  }
}

.header--active {
  font-weight: 700 !important;
}

@media only screen and (min-width: $tablet){
  .header__wrapper {
    margin: 0 $huge;
  }
}

@media only screen and (min-width: $desktop){
  .header__wrapper {
    max-width: calc(87.5rem - 2 * $huge);
    margin: 0 auto;
  }
}