.section-downloads {
  padding: calc(2*$huge) 0;
  background-color: $lightblue;
  flex-direction: column;
  text-align: center; //TODO: solve more beautiful
}

.section-downloads__wrapper{
  margin: 0 auto;
}

.section-downloads__button {
  margin: 2.6875rem auto $huge;
  padding: 0.5rem 2.5rem;
  @extend .h3-text;

  &:hover {
    color: $buttonblue;
  }
}