
/** ONE BOX - split into to small ;-)
*/

.section-one-box {
  flex-wrap: wrap-reverse;

  & > div {
    padding: $normal;
  }
}

.section-one-box__left-box {
  background-color: $lightblue;
  min-width: 23rem;
  max-height: 25rem;
  flex-grow: 4;
  padding: $normal;
}

.section-one-box__text {
  flex-grow: 5;
}

@media only screen and (min-width: $desktop) {
  .section-one-box {
    flex-wrap: nowrap;
  }
}

/** TWO BOXES
*/

.section-two-boxes {
  flex-wrap: wrap;
}

.section-two-boxes__head {
  width: 100%;
}

.section-two-boxes__text-wrapper {
  display: flex;
}

.section-two-boxes__text {
  max-width: 40rem;
  margin-right: $huge;
}

.section-two-boxes__box {
  background-color: $lightblue;
  padding: $small;
  min-width: 21rem;

  &:first-child {
    margin-bottom: $min;
  }
}

/** THREE BOXES
*/

.section-three-boxes {
  flex-wrap: wrap;
}

.section-three-boxes__head {
  width: 100%;
}

.section-three-boxes__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $min;
}

.section-three-boxes__box {
  background-color: $lightblue;
  padding: $small;
  min-width: 27%;
  flex: 1 1 0;
}

.section-three-boxes__box > h3 {
  margin-bottom: $big;
}


/** FOUR BOXES
*/

.section-four-boxes {
  flex-wrap: wrap;
  gap: $min;
}

.section-four-boxes__head {
  width: 100%;
}

.section-four-boxes__box {
  background-color: $lightblue;
  padding: $normal;
  min-width: 40%;
  flex: 1 1 0;
}