.section-downloads__wrapper {
margin: 0 auto $huge;

}

.section-downloads__button {
  margin: 2.6875rem auto $huge;
  padding: 0.5rem 2.5rem;
  color: $buttonblue;
  border: 0.125rem solid $buttonblue;
  border-radius: 0.5rem;

  &:hover {
    color: white;
    background: #34A4D1;
  }
}