
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html body section.wrapper {
  padding-top: $huge;
  padding-bottom: $huge;
}

html {
  font-size: 16px;
  @extend .inter;
  min-width: 320px;
}

.wrapper {
  padding: 0 $normal;
}

section {
  display: flex;
}

@media only screen and (min-width: $tablet){
  .wrapper {
    padding: 0 $huge;
  }
}

@media only screen and (min-width: $laptop){

}

@media only screen and (min-width: $desktop){
  .wrapper {
    max-width: calc(87.5rem - 2 * $huge);
    margin: 0 auto;
  }
}

@media only screen and (min-width: $max-width){
  html {
    font-size: 0.83333333vw;
  }
}


