$black: #2A2A2A;
$white: #F7F7F7;
$grey: #707070;
$brown: #8D8D8D;
$lightblue: #F2F8FA;
$blue: #346DF5;

$min: 0.75rem; // 12px
$small: 1.5rem; // 24px
$normal: 2rem; // 32px
$big: 3.5rem; // 56px
$huge: 6.25rem; // 100px

$fourtyseven: 2.9375rem; //47px
$thirtynine: 2.4375rem; //39px
$thirtythree: 2.0625rem; //33px
$twentyseven: 1.6875rem; //27px
$twentysix: 1.625rem; //26px
$twentythree: 1.4375rem; //23px
$twentyone: 1.3125rem; //21px
$nineteen: 1.1875rem; //19px
$fifteen: 0.9375rem; //15px

$tablet: 768px;
$laptop: 1024px;
$desktop: 1400px;
$max-width: 1920px;
